.left-nav-bar {
  min-width: 260px;
  margin-right: 1rem !important;
}

.App {
  min-height: 100vh;
}

@media only screen and (max-width: 600px) {
  body,
  button,
  table,
  label,
  span,
  footer,
  .ui.segment,
  p {
    font-size: 16px !important;
  }
}
